<!DOCTYPE html>
<html>
  <head>
    <title>BookmarkRankingSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
  </head>

  <body>
  <header>
    <nav>
      <ul>
        <%# ログインしている場合 %>
        <% if user_signed_in? %>
          <li>
            <%= link_to '認証情報の変更', edit_user_registration_path %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </li>



          <%# 最後のリストにログインしているかしていないかを確認できるように表示を作る %>
          <li>
            ログイン中
          </li>



          <%# ログアウトしている場合 %>
        <% else %>
          <li>
            <%= link_to 'サインアップ', new_user_registration_path %>
          </li>
          <li>
            <%= link_to 'ログイン', new_user_session_path %>
          </li>
          <%# 最後のリストにログインしているかしていないかを確認できるように表示を作る %>
          <li>
            ログアウト中
          </li>


        <% end %>


      </ul>
    </nav>
  </header>
  <% if current_user.present? %>
  <p>こんにちは、<%= current_user.name %>さん！</p>
  <% else %>
  <p>こんにちは、ゲストさん！</p>
  <% end %>
    <%= yield %>
  </body>
</html>
